<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <div style="text-align: center; border-top: 500px;">
            <h1>You chose the type: <%=type%></h1>
            <h1>The weight you entered was: <%=weight%></h1>
            <h1>Your total will be: <%= result%> </h1>
        </div>
        
    </body>
</html>